@{
    ViewData["Title"] = "Car Search";
    Layout = null;
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using CarDealership.CarDealership
@model IEnumerable<Car>

<h2>Search for a car by make and model</h2>

<form action="/CarDealershipSystem/CustomerCar" method="get">
    <label for="make">Make:</label>
    <input type="text" name="make"/>
    <br />
    <label for="model">Model:</label>
    <input type="text" name="model" />
    <br />
    <input type="submit" value="Submit">
</form> 