@{
    ViewData["Title"] = "Added";
    Layout = null;
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>The car has been added to inventory</h1>

<a asp-controller="BusinessLogicLayer" asp-action="StaffIndex">Return to Home Page</a>
