@{
    ViewData["Title"] = "Assigned";
    Layout = null;
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>The selected salesman has been assigned to the car</h1>

<a asp-controller="BusinessLogicLayer" asp-action="StaffIndex">Return to Home Page</a>
