@{
    ViewData["Title"] = "Maintenance";
    Layout = null;
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Car has been added to maintenance</h1>

<a asp-controller="BusinessLogicLayer" asp-action="StaffIndex">Return to Home Page</a>
