@{
    ViewData["Title"] = "Staff Page";
    Layout = null;
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div>
    <h1>Staff Page</h1>
    <h2> What would you like to do?</h2>

    <a asp-controller="BusinessLogicLayer" asp-action="StaffInventory">View Cars</a>
    <a asp-controller="BusinessLogicLayer" asp-action="Sell">Sell a Car</a>
    <a asp-controller="BusinessLogicLayer" asp-action="StaffSearch">Search for a Car</a>
    <a asp-controller="BusinessLogicLayer" asp-action="CarForm">Add a Car</a>
    <a asp-controller="BusinessLogicLayer" asp-action="UpdateSearch">Update a Car</a>
    <a asp-controller="BusinessLogicLayer" asp-action="MoveCarSearch">Move a Car</a>
    <a asp-controller="BusinessLogicLayer" asp-action="MaintenanceForm">Assign Maintenance</a>
    <a asp-controller="BusinessLogicLayer" asp-action="AssignSalesmanSearch">Assign Salesman to a Car</a>
    <a asp-controller="BusinessLogicLayer" asp-action="SalesReportSearch">Sales Report</a>
    <br />
    <br />
    <a asp-controller="BusinessLogicLayer" asp-action="Index">Return to Log In</a>

</div>