@{
    ViewData["Title"] = "Car Form";
    Layout = null;
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using CarDealership.CarDealership

@model IEnumerable<Car>

<h2>Enter Car Information</h2>

<form action="/CarDealershipSystem/Add" method="get">
    <label for="plateNum">Plate Number:</label>
    <input type="text" id="plateNum" name="plateNum" />
    <br />
    <label for="lotID">Lot ID:</label>
    <input type="text" id="lotID" name="lotID" />
    <br />
    <label for="make">Make:</label>
    <input type="text" id="make" name="make" />
    <br />
    <label for="Model">Model:</label>
    <input type="text" id="model" name="model" />
    <br />
    <label for="modelYear">Model Year:</label>
    <input type="text" id="modelYear" name="modelYear" />
    <br />
    <label for="price">Price:</label>
    <input type="text" id="price" name="price" />
    <br />
    <label for="color">Color:</label>
    <input type="text" id="color" name="color" />
    <br />
    <label for="carStatus">Car Status:</label>
    <input type="text" id="carStatus" name="carStatus" />
    <br />
    <label for="salesmanID">Salesman ID:</label>
    <input type="text" id="salesmanID" name="salesmanID" />
    <br />
    <input type="submit" value="Submit">
</form> 