@{
    ViewData["Title"] = "Move";
    Layout = null;
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>The car has been moved</h1>

<a asp-controller="CarDealershipSystem" asp-action="StaffIndex">Return to Home Page</a>
