@{
    ViewData["Title"] = "Sold";
    Layout = null;
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Congratulations</h1>
<h2>Car has been sold!</h2>

<a asp-controller="CarDealershipSystem" asp-action="StaffIndex">Return to Home Page</a>
