@{
    ViewData["Title"] = "Buy A Car";
    Layout = null;
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using CarDealership.DataAccess
@model IEnumerable<Car>

<h2>Enter the plate number of the car to buy</h2>

<form action="/BusinessLogicLayer/Sold" method="get">
    <input type="text" name="plateNum" />
    <input type="submit" value="Submit">
</form> 