@{
    ViewData["Title"] = "Customer Page";
    Layout = null;
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div>
    <h1 >Customer Page</h1>
    <h2> What would you like to do?</h2>

    <a asp-controller="BusinessLogicLayer" asp-action="CustomerInventory">View Cars</a>
    <a asp-controller="BusinessLogicLayer" asp-action="Buy">Buy a Car</a>
    <a asp-controller="BusinessLogicLayer" asp-action="CustomerSearch">Search for a Car</a>
    <br />
    <br />
    <a asp-controller="BusinessLogicLayer" asp-action="Index">Return to Log In</a>
</div>
